# x86_64系统选项
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
# 编译固件格式以及打包格式 Root filesystem images
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_GRUB_EFI_IMAGES=y
CONFIG_GRUB_CONSOLE=y
CONFIG_GRUB_TITLE="OpenWrt"
CONFIG_TARGET_IMAGES_GZIP=y
# Image Options boot空间以及rom空间大小
CONFIG_TARGET_KERNEL_PARTSIZE=128
CONFIG_TARGET_ROOTFS_PARTSIZE=768


